<div *ngIf="item">
    <h1>{{item.title}}</h1>
    <div id="center">
        <div id="opinions_and_likes">
            <div id="likes">
                <img (click)="likeOrDislike('like')" class="icons" [src]="likedIcon" alt="Likes">
                <div>{{item.likes}}</div>
            </div>
            <div id="dislikes">
                <img (click)="likeOrDislike('dislike')" class="icons" [src]="dislikedIcon" alt="Dislikes">
                <div>{{item.dislikes}}</div>
            </div>
            <div id="opinionIcon">
                <img (click)="modifyOrCreateOpinion()" class="icons" src="./assets/note.png" alt="Avis">
                <div>{{item.opinionsId.length}}</div>
            </div>
        </div>
        <img id="poster" [src]="imageUrl$ | async" [alt]="item.title" loading="eager"> 
        <div id="opinionArea">
            <app-opinion *ngIf="item.opinionsId.length > 0"
            [opinionsId]="item.opinionsId"
            (opinionLiked)="likeOpinion($event)"
            (opinionExists)="opinionExists($event)"
            ></app-opinion>
        </div> 
    </div>
    <h2 id="director" (click)="getItems(item.author)">{{item.author}}</h2>
    <h2 id="date">Sorti le {{item.date | date: 'dd/MM/yyyy'}}</h2>
    
    <div id="description">
        <p>{{item.description}}</p>
    </div>
</div>

