@media (orientation:portrait) {    
    #center {
        flex-direction: column;
        width:55%;
    }

    h1 {
        font-size: 2em;
        max-width: 80%;
        margin: 20px auto 10px auto;
    }

    h2 {
        margin-bottom: 5px;
    }

    #opinions_and_likes {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        width: 130px !important;
        order: 1;
        margin-bottom: 10px !important;
    }

    #opinions_and_likes :nth-child(1) {
        order: 1;
    }

    #opinions_and_likes :nth-child(2) {
        order: 3;
    }

    #opinions_and_likes :nth-child(3) {
        order: 2;
    }

    #opinions_and_likes>*>div {
        margin-top: 0;
    }

    #poster {
        width: 150px !important;
        margin-top: 10px !important;
    }

    #director {
        font-size: 1.3em;
    }

    #date {
        font-size: 1.1em;
    }

    #description {
        padding-top: 5px;
        font-size: 0.9em;
    }
}

@media(min-width:900px) {
    #center {
        justify-content: space-around;
    }

    h1 {
        font-size: 3.5em;
        margin: 0 auto 25px auto;
    }

    #poster {
        width: 250px !important;
        margin-top: 30px !important;
        margin-bottom: 25px !important;
    }

    #director {
        font-size: 1.7em;
    }

    #date {
        font-size: 1.4em;
    }

    #description {
        margin-top: 30px;
    }
}

#center>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    margin: auto;

    @media(min-width:900px) {
        position: relative;
    }
}

#center {
    margin: auto;
    position: relative;
    display: flex;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: normal;
    margin-top: 0;
}

h1, h2 {
    text-align: center;
}

#opinions_and_likes {
    align-items: end !important;
    right: 60px;
    text-align: center;
}

#opinions_and_likes>* {
    margin-top: 25px;
}

#opinions_and_likes>*>* {
    margin-top: 5px;
}

#poster {
    order: 0;
}

#director:hover {
    cursor: pointer;
    text-decoration: underline;
}

#description {
    width: 80%;
    margin: auto;
    border: 1px white solid;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}