mat-toolbar {
    display:flex;
    justify-content: space-between;
    height:70px;
}

@media (max-width:900px) and (orientation:portrait){
    // mat-toolbar > * {
    //     width:33%;
    // }
    button{
        padding:0 10px;
        font-size:0.6em;
    }
}

#infos {
    @media (max-width:900px) and (orientation:portrait) {
        font-size:0.5em;
        text-align:right;
    }
    @media (min-width:900px)  {
        font-size: 0.6em;
    }
    font-weight: normal;
}

#infos div {
    height: 18px;
    position:relative;
    top:-7px;
}

h2 {
    margin-bottom: 0px;
    font-size: 2.1em;
    font-weight: normal;
    vertical-align: middle;
    @media (max-width:900px) and (orientation:portrait) {
        display:flex;
        flex-direction:column;
        font-size:1.1em;
    }
}

#account_right {
    display:grid;
    // width: 110px;
}

#account_right *{
    justify-self:end;
}
