mat-toolbar {
    display:flex;
    justify-content: space-around;
    height:70px;
    // align-items: center;
}

#signin {
    display: flex;
    justify-content: space-between;
}

// button {
//     margin: auto;
//     border-radius: 30px;
//     height: 45px;
//     width: 110px;
//     padding: 0;
// }

#infos {
    font-size: 0.6em;
    font-weight: normal;
}

#infos div {
    height: 18px;
    position:relative;
    top:-7px;
}

h2 {
    margin-bottom: 0px;
    font-size: 2.1em;
    font-weight: normal;
    vertical-align: middle;
}

#account_right {
    width: 110px;
}
