<ul>
    <a  matTooltip="Cliquez pour obtenir la liste complète"
        matTooltipPosition="above"
        (click)="search()">{{listTitle}}</a>
    <ng-container *ngIf="device === 'mobile-only'">
        <li *ngFor="let item of items |slice:0:15" 
            (click)="itemSelection(item._id)">
            {{item.title}}
        </li>
    </ng-container>
   <ng-container *ngIf="device === 'desktop-only'">
        <li *ngFor="let item of items" 
            (click)="itemSelection(item._id)">
            {{item.title}}
        </li>
   </ng-container>
</ul>
