<mat-spinner *ngIf="loading$ | async"></mat-spinner>
<div *ngIf="!(loading$ | async)" id="content">
    <!-- Contenu mobile -->
    <mat-sidenav-container *ngIf="device === 'mobile-only'">
        <mat-sidenav #snavLeft mode="over" hasBackdrop="true" position="start">
            <app-item-list class="items-list" id="film-list" *ngIf="films$ | async as films" 
                [items]="films"
                [itemType]="itemType"
                [selectedAuthor]="seekedAuthor"
                [selectedGenre]="seekedGenre"
                [searchedValue]="searchedValue"
                [device]="device"
                (requestedItem)="getOneFilm($event)"></app-item-list>
        </mat-sidenav>
        <mat-sidenav-content *ngIf="selectedFilm$ |async as selectedFilm">
            <div id="leftSwipeArea" (swipe)="swipeEvent($event)">
                <div id="leftSwipeHintArea" (click)="sidebarLeft.toggle()">
                    <span class="swipeHintArea">F</span>
                    <span class="swipeHintArea">I</span>
                    <span class="swipeHintArea">L</span>
                    <span class="swipeHintArea">M</span>
                    <span class="swipeHintArea">S</span>
                </div>
            </div>
            <div id="rightSwipeArea" (swipe)="swipeEvent($event)">
                <div id="rightSwipeHintArea" (click)="sidebarRight.toggle()">
                    <span class="swipeHintArea">G</span>
                    <span class="swipeHintArea">E</span>
                    <span class="swipeHintArea">N</span>
                    <span class="swipeHintArea">R</span>
                    <span class="swipeHintArea">E</span>
                    <span class="swipeHintArea">S</span>
                </div>
            </div>
            <ng-container *ngIf="isLikedOrDisliked$ | async as isLikedOrDisliked">
                <div id="searchArea">
                    <input #searchInput type="text" [formControl]="searchedForm" placeholder="Rechercher" (keydown.Enter)="search(searchInput.value)"> 
                    <img src="../../../../assets/loupe.png" alt="Rechercher" *ngIf="searchInput.value.length > 0" (click)="search(searchInput.value)">
                    <div id="failSearch" *ngIf="(failSearch$ | async) && (searchInput.value.length > 0)" >Aucun film trouvé</div>
                </div>
                <ul id="activeGenresMobile">
                    <li *ngFor="let genre of selectedFilm.genres">{{genre}}</li>
                </ul>
                <app-item id="film" *ngIf="user$ | async as user" 
                    [item]="selectedFilm" 
                    [itemType]="itemType"
                    [isLikedOrDisliked]="isLikedOrDisliked" 
                    [likedOpinionsId]="user.likedOpinionsId" 
                    [user]="user"
                    [isLogged]="isLogged" 
                    [device]="device" 
                    (authorRequested)="getFilmsFromOneAuthor($event)"
                    ></app-item>
            </ng-container>
        </mat-sidenav-content>
        <mat-sidenav #snavRight mode="over" hasBackdrop="true" position="end">
            <ng-container *ngIf="activeGenres$ | async as activeGenres">
                <app-genre-list class="genres-list" id="genres" *ngIf="genres$ | async as genres" 
                [genres]="genres"
                [activeGenres]="activeGenres" 
                (genreSelected)="getFilmsFromOneGenre($event)"></app-genre-list>
            </ng-container>
        </mat-sidenav>
    </mat-sidenav-container>
    <!-- Contenu desktop -->
    <ng-container *ngIf="device==='desktop-only' && (selectedFilm$ | async) as selectedFilm">
        <app-item-list class="items-list" id="film-list" *ngIf="films$ | async as films" 
            [items]="films"
            [itemType]="itemType"
            [selectedAuthor]="seekedAuthor"
            [selectedGenre]="seekedGenre"
            [searchedValue]="searchedValue"
            [device]="device"
            (requestedItem)="getOneFilm($event)"></app-item-list>
        <ng-container *ngIf="isLikedOrDisliked$ | async as isLikedOrDisliked">
            <div class="item-area">
                <div id="searchArea">
                    <input #searchInput type="text" [formControl]="searchedForm" placeholder="Rechercher" (keydown.Enter)="search(searchInput.value)"> 
                    <img src="../../../../assets/loupe.png" alt="Rechercher" *ngIf="searchInput.value.length > 0" (click)="search(searchInput.value)">
                    <div id="failSearch" *ngIf="(failSearch$ | async) && (searchInput.value.length > 0)" >Aucun film trouvé</div>
                </div>
                <app-item id="film" *ngIf="user$ | async as user" 
                [item]="selectedFilm" 
                [itemType]="itemType"
                [isLikedOrDisliked]="isLikedOrDisliked" 
                [likedOpinionsId]="user.likedOpinionsId" 
                [user]="user"
                [isLogged]="isLogged" 
                [device]="device" 
                (authorRequested)="getFilmsFromOneAuthor($event)"></app-item>
            </div>
        </ng-container>
        <ng-container *ngIf="activeGenres$ | async as activeGenres">
            <app-genre-list class="genres-list" id="genres" *ngIf="genres$ | async as genres" 
                [genres]="genres"
                [activeGenres]="activeGenres" 
                (genreSelected)="getFilmsFromOneGenre($event)"></app-genre-list>
        </ng-container>
    </ng-container>
</div>