<mat-spinner *ngIf="loading$ | async"></mat-spinner>
<div *ngIf="!(loading$ | async)">
    <ng-container *ngIf="selectedFilm$ |async as selectedFilm">
            <app-item-list id="film-list" *ngIf="films$ | async as films" 
            [items]="films"
            (requestedItem)="getOneFilm($event)"
            ></app-item-list>
            <ng-container *ngIf="isLikedOrDisliked$ | async as isLikedOrDisliked">
                <app-item id="film" *ngIf="user$ | async as user"
                [item]="selectedFilm"
                [itemType]="itemType" 
                [isLikedOrDisliked]="isLikedOrDisliked"
                [likedOpinionsId]="user.likedOpinionsId"
                [userId]="userId"
                [isLogged]="isLogged"
                (authorRequested)="getFilmsFromOneAuthor($event)"
                ></app-item>
            </ng-container>
            <ng-container *ngIf="activeGenres$ | async as activeGenres">
                <app-genre-list id="genres" *ngIf="genres$ | async as genres" 
                [genres]="genres"
                [activeGenres]="activeGenres" 
                (genreSelected)="getFilmsFromOneGenre($event)"
                ></app-genre-list>
        </ng-container>

    </ng-container>


</div>