/* You can add global styles to this file, and also import other style files */

@media (max-width:900px) and (orientation:portrait) {

    html,
    body {
        height: 100%;
    }

    app-film {
        display: block;
        height: calc(100% - 70px);
    }

    ul li {
        padding: 3px;
        padding-top: 4px;
        width: 120px;
        margin: auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    #opinions_and_likes .icons,
    #opinionIcons img {

        width: 25px;
    }
}

@media (min-width:900px) {
    ul li {
        border-radius: 5px;
        padding: 7px;
        font-size: 1.1em;
    }

    ul li:hover {
        background-color: #3f51b5;
        color: white !important;
        font-size: 1.2em;
    }

    #opinions_and_likes .icons,
    #opinionIcons img {
        width: 30px;
        cursor: pointer;
    }
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul li {
    text-align: center;
    cursor: pointer;
    list-style-type: none;
}

ul {
    list-style: none;
    padding-left: 0;
    border-radius: 5px;
    margin-bottom: 0;
}

#opinions_and_likes .icons,
#opinionIcons img {
    width: 25px;
}

h1 {
    font-weight: 100;
    font-size: 3em;
    margin: 0 auto 0 auto;
}

h1, h2 {
    text-align: center;
}