li {
    margin-left: 40px;
    border: solid 1px white;
    padding: 7px;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
    list-style-type: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

