<button mat-raised-button (click)="backToHome()">Retour</button>
<table *ngIf="items$ | async as items">
    <thead>
        <td>Titre</td>
        <td>Auteur</td>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <!-- <td [routerLink]="[moduleName+'/'+item._id]">{{item.title}}</td> -->
            <td  [routerLink]="['/', { outlets: { primary: moduleName+'/'+item._id, aux: null } }]">{{item.title}}</td>
            <td [routerLink]="[getEncodedAuthorUrl(item.author)]">{{item.author}}</td>
        </tr>
    </tbody>
</table>