mat-card {
    height:83%;
}

h3 {
    text-align:center;
}

mat-dialog-actions{
    display:flex;
    justify-content: space-around;
}

@media (max-width:900px) and (orientation:portrait){
    h2{
        font-size:0.9em;
        margin-bottom:0;
    }
    h3{
        font-size:0.8em;
        margin-bottom:0;
    }
    button{
        font-size:0.8em;
    }
    mat-card {
        padding-top:2px;
        height:85%;
    }
}